<template>
    <div class="container">
<!--        Actual host card -->
        <div v-if="!selectedHost" >
            <div class="pt-3" v-for="host in hosts">
                <div class="card bg-dark text-white bg-dark" >
                    <div class="card-header">
                        Host: {{ host.user }}@{{ host.host }}
                        <button type="button" class="btn btn-primary float-right" v-on:click="getTasks(host)">Tasks</button>
                    </div>

                    <div class="card-body">
                        <h3 class="card-title text-center">
                            Last Seen: {{ host.updated_at }} | {{ getSecondsSinceHostLastSeen(host) }} seconds ago
                        </h3>
                        <hr style="width: 100%">
                        <h4 class="card-title text-center">
                            Overview
                        </h4>
                        <hr style="width: 100%">
                        <!--                Overview Attributes-->
                        <div class="row">
                            <div class="col col-md-5 font-weight-bold">
                                User:
                            </div>
                            <div class="col col-md-7 text-right">
                                {{ host.user }}
                            </div>

                            <div class="col col-md-5 font-weight-bold">
                                Host Name:
                            </div>
                            <div class="col col-md-7 text-right">
                                {{ host.host }}
                            </div>

                            <div class="col col-md-5 font-weight-bold">
                                External IP:
                            </div>
                            <div class="col col-md-7 text-right">
                                {{ host.external }}
                            </div>

                            <div class="col col-md-5 font-weight-bold">
                                Operating System:
                            </div>
                            <div class="col col-md-7 text-right">
                                {{ host.os }}
                            </div>

                            <div class="col col-md-5 font-weight-bold">
                                User Admin:
                            </div>
                            <div class="col col-md-7 text-right">
                                {{ host.user_admin ? 'Yes' : 'No' }}
                            </div>

                            <div class="col col-md-5 font-weight-bold">
                                Process Admin:
                            </div>
                            <div class="col col-md-7 text-right">
                                {{ host.process_admin ? 'Yes' : 'No' }}
                            </div>

                        </div>
                        <hr style="width: 100%">
                        <h4 class="card-title text-center">
                            Local Network Adapters
                        </h4>
                        <div class="row" v-for="ip in host.local_ips">
                            <div class="col col-md-8 font-weight-bold">
                                {{ ip.adapter }}:
                            </div>
                            <div class="col col-md-4 text-right">
                                {{ ip.local_ip }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Task card-->
        <div v-else>
            <div class="card bg-dark text-white bg-dark">
                <div class="card-header">
                    Tasks: {{ selectedHost.user }}@{{ selectedHost.host }}
                    <button type="button" class="btn btn-primary float-right" v-on:click="getTasks(null)">Hosts</button>
                    <hr>
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" v-bind:class="{active: !createTasks}" v-on:click="toggleView()">
                                Done Tasks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" v-bind:class="{active: createTasks}" v-on:click="toggleView()">
                                Task Creator
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <!--                Task displayer -->
                    <div v-if="!createTasks">
                        <div v-if="tasks.length > 0">
                            <div class="row" v-for="task in tasks">
                                <div class="col col-md-8 font-weight-bold">
                                    ID:
                                </div>
                                <div class="col col-md-4">
                                    {{ task.id }}
                                </div>

                                <div class="col col-md-8 font-weight-bold">
                                    Command:
                                </div>
                                <div class="col col-md-4">
                                    {{ task.command }}
                                </div>

                                <div class="col col-md-8 font-weight-bold">
                                    Parameter:
                                </div>
                                <div class="col col-md-4">
                                    {{ task.parameter }}
                                </div>

                                <div class="col col-md-8 font-weight-bold">
                                    Sent:
                                </div>
                                <div class="col col-md-4">
                                    {{ task.sent ? 'Yes' : 'No'}}
                                </div>
                                <div class="col col-md-12 text-center">
                                    <button class="btn btn-danger btn-sm" v-on:click="deleteTask(task)">
                                        Delete
                                    </button>
                                </div>
                                <hr style="width: 100%">
                            </div>
                        </div>
                        <div v-else class="text-center">
                            <h3 class="card-title">
                                No tasks found for this host.
                            </h3>
                        </div>
                    </div>
                    <div v-else class="row">
                        <!--                    Creation form-->
                        <div class="col col-md-4 col-sm-12" style="border-right: 1px solid #616161">
                            <div class="form-group">
                                <label for="command">
                                    Command:
                                </label>
                                <input type="text" class="form-control" id="command" placeholder="Enter the command" v-model="currentEditingCommand.command">
                            </div>
                            <div class="form-group">
                                <label for="parameter">
                                    Parameter:
                                </label>
                                <input type="text"  class="form-control" id="parameter" placeholder="Enter the command parameter" v-model="currentEditingCommand.parameter">
                            </div>
                            <div class="form-group">
                                <label for="index">
                                    Command Index
                                </label>
                                <input type="number" class="form-control" id="index" placeholder="Command index in the batch" v-model.number="currentEditingCommand.batch_index">
                            </div>
                            <button type="submit" class="btn btn-info" v-on:click="addTask()">Add Task</button>
                        </div>
                        <!--                    Current Commands list queued-->
                        <div class="col col-md-8 col-sm-12">
                            <div class="row" v-for="task in taskQueue">
                                <div class="col col-md-8 font-weight-bold">
                                    Command:
                                </div>
                                <div class="col col-md-4">
                                    {{ task.command }}
                                </div>

                                <div class="col col-md-8 font-weight-bold">
                                    Parameter:
                                </div>
                                <div class="col col-md-4">
                                    {{ task.parameter }}
                                </div>

                                <div class="col col-md-8 font-weight-bold">
                                    Index:
                                </div>
                                <div class="col col-md-4">
                                    {{ task.batch_index }}
                                </div>
                                <div class="col col-md-12 text-center">
                                    <button class="btn btn-danger btn-sm" v-on:click="removeTask(task)">
                                        Remove Task
                                    </button>
                                </div>
                                <hr style="width: 100%">
                            </div>
                            <div class="col col-md-12 text-center">
                                <button class="btn btn-info" v-on:click="sendTasks()">
                                    Send Tasks
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                hosts: [],
                tasks: [],
                taskQueue: [],
                interval: null,
                selectedHost: null,
                createTasks: false,
                currentEditingCommand: {
                    command: '',
                    parameter: '',
                    batch_index: 0
                }
            };
        },
        methods: {
            getTasks(host) {
                this.selectedHost = host;
                return axios.get('/api/tasks/' + host.id)
                    .then(response => {
                        this.tasks = response.data.tasks;
                    });
            },
            getSecondsSinceHostLastSeen(host) {
                let then = new Date(host.updated_at);
                return Math.floor((Date.now() - then) / 1000);
            },
            sendTasks() {
                if (this.taskQueue.length > 0 && this.createTasks) {
                    return axios.post('/api/tasks/' + this.selectedHost.id, {
                        tasks: this.taskQueue
                    })
                        .then(response => {
                            this.taskQueue = [];
                        });
                }
                return null;
            },
            removeTask(task) {
                this.taskQueue = this.taskQueue.filter(function(value, index, arr) {
                    return value !== task;
                });
            },
            removeTaskFromSent(task) {
                this.tasks = this.tasks.filter(function(value, index, arr) {
                    return value !== task;
                });
            },
            deleteTask(task) {
                return axios.delete('/api/tasks/' + task.id)
                    .then(response => {
                        this.removeTaskFromSent(task);
                    });
            },
            getHosts() {
                if (!this.selectedHost) {
                    return axios.get('/api/hosts')
                        .then(response => {
                            this.hosts = response.data.hosts;
                        });
                }
                return null;
            },
            toggleView() {
                this.createTasks = !this.createTasks;
                if (!this.createTasks) {
                    this.getTasks(this.selectedHost);
                }
            },
            addTask() {
                if (this.currentEditingCommand.batch_index === undefined ||
                    this.currentEditingCommand.command === '') {
                    return;
                }
                if (this.currentEditingCommand.parameter === null) {
                    this.currentEditingCommand.parameter = '';
                }
                // javascript gay
                let copy = JSON.parse(JSON.stringify(this.currentEditingCommand));
                this.taskQueue.push(copy);
                this.currentEditingCommand.batch_index += 1;
                this.currentEditingCommand.command = '';
                this.currentEditingCommand.parameter = '';
            }
        },
        mounted() {
            this.getHosts();
            this.interval = setInterval(() => this.getHosts(), 5000);
        },
        beforeDestroy() {
            clearInterval(this.interval);
        }
    }
</script>
